# aasu service
[Unit]
Description=Arch Linux system-wide package update service
Wants=aasu.timer

[Service]
Type=simple
User=
ExecStart=/usr/bin/aasu

[Install]
WantedBy=multi-user.target
