# aasu service
[Unit]
Description=Arch Linux system-wide package update service
Requires=network.target
After=network.target
Wants=aasu.timer

[Service]
Type=simple
Restart=always
RestartSec=1
User=
ExecStart=/usr/bin/aasu

[Install]
WantedBy=multi-user.target
